@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
body{
    transition: 0.3s;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(251, 246, 239);
    color: rgb(57, 57, 57);
}

h1{
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}

h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 50px 0 10px 0;
}

p{
    margin: 0px;
    font-size: 20px;
}

a{
    color: rgb(162, 0, 255);
    font-size: 25px;
    text-decoration: none;
    font-weight: 30;
}

.dark a{
    color: rgb(255, 255, 255);
}
header{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}



/* switch shape */
.switch{
    width: 80px;
    height: 40px;
    background-color: rgb(39, 38, 38);
    border-radius: 20px;
    position: relative;
}

/* flicker(circle shape) */
.flicker{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    /* shading effect inside the circle */
    box-shadow: 
    inset 4px 4px 4px rgb(255,255,255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}
.dark .switch{
  background-color: rgb(39, 38, 38);
}

.dark{
    background-color: rgb(57, 57, 57);
    transition: 0.3s;
}
/* .moon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
} */

/* when the body element is dark */
.dark .flicker {
    transform: translateX(40px);
    
}

/* grabbing element dark and all the children */
.dark > * {
    color: white;
}
.main{
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.main-text{
    padding: 30px;
}

/* displaying the projects */

 /* .square{
    width: 50vw;
    height: 50vh;
    margin: 1%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.dark .square{
    background-color: rgb(71, 71, 71);
}  */

 #movie {
    background-image: url('images/img-5.png');
    background-size:cover;
    
} 

 #music {
    background-image: url('images/img-2.png');
    background-size: cover;
} 

 /* #dnd {
    background-image: url('images/image-2.png');
    background-size: cover;
}  */

.img-wrapper {
  overflow: hidden;
}

img:hover {
  cursor: pointer;
  transform: scale(1.4, 1.4);
}

img:hover .overlay {
  height: 10%;
}

img {
  transition: all 3s ease-in-out;
  overflow: hidden;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 25%;
  bottom: -13%;
  left: -5%;
  transform: rotate(10deg);
  width: 120%;
}

.container:hover .text {
  left: 8%;
  font-size: 20px;
  transition-delay: .3s;
}

.text {
  transform: rotate(-9deg);
  color: black;
  font-size: 10px;
  position: absolute;
  overflow: hidden;
  top: 22%;
  left: 5%;
  transition: all 1s cubic-bezier(0.6,.1,.3,.8);
}
 #advice {
    background-image: url('images/image-3.png');
    background-size: cover;
} 
html {
    height: 100%;
    font-size: 16px;
  }
  
  body {
    height: 100%;
    background: #F3F4F8;
  }
  
  .image-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 200vw;
    height: 200vh;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  
  .image-grid__item {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 860px;
    align-items: stretch;
    justify-content: center;
    position: relative;
    width: 720px;
    height: 520px;
    margin-right: 14px;
    margin-bottom: 14px;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  }
  .image-grid__item:before {
    content: "";
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    border-radius: 3px;
    box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.06), 0 8px 20px -2px rgba(0, 0, 0, 0.1), 0 6px 10px -6px rgba(0, 0, 0, 0.2);
    transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
    opacity: 0;
  }
  .image-grid__item:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  .grid-item {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: stretch;
    justify-content: center;
    text-decoration: none;
    color: #eeeeee;
    overflow: hidden;
  }
  .grid-item:hover .grid-item__image {
    transform: scale(1.2);
  }
  .grid-item:hover .grid-item__hover {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.57);
    opacity: 1;
  }
  .grid-item:hover .grid-item__name {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  
  .grid-item__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    transform: scale(1);
    will-change: transform;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
  }
  
  .grid-item__hover {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(rgba(47, 48, 50, 0.2), rgba(47, 48, 50, 0.7));
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 2;
  }
  
  .grid-item__name {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4), 2px 2px 6px rgba(0, 0, 0, 0.3);
    justify-content: center;
    letter-spacing: 1px;
    transform: scale(0.6);
    transform-origin: center center;
    transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
    opacity: 0;
  }

.sub-section{
    display: flex;
    flex-wrap: wrap;
}

.hero-image{
    position: relative;
    width: 50%;
    height: 350px;
}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
}
.cube::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}
.cube:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#html {
    left: 100px;
    bottom: -10px;
    background-image: url('images/html.png');
    background-size: cover;
    background-color:rgb(175, 119, 227);
    box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
}
#html::before{
    background-color: rgb(189,154,221);
}
#html:after{
    background-color: rgb(189,154,221);
}

#css {
    left: 250px;
    bottom: 140px;
    background-image: url("images/css.png");
    background-size: cover;
    background-color: rgb(227, 119, 191);
    box-shadow: -100px 100px 20px rgb(50 50 50/ 15%);
  }
  
  #css:before {
    background-color: rgb(221, 154, 207);
  }
  
  #css:after {
    background-color: rgb(221, 188, 211);
  }
  #javascript {
    left: 470px;
    bottom: 40px;
    background-image: url("images/javascript.png");
    background-size: cover;
    background-color: rgb(119, 227, 186);
    box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
  }
  
  #javascript:before {
    background-color: rgb(154, 221, 202);
  }
  
  #javascript:after {
    background-color: rgb(188, 221, 212);
  }
  #react {
    left: 350px;
    bottom: -120px;
    background-image: url("images/react.png");
    background-size: cover;
    background-color: rgb(119, 193, 227);
    box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
  }
  
  #react:before {
    background-color: rgb(154, 189, 221);
  }
  
  #react:after {
    background-color: rgb(188, 200, 221);
  }
  

footer{
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: rgb(136, 136, 136);
}

.logo{
  display: flex;
  margin-left: -10;
}
.dark footer{
    background-color: rgb(28, 28, 28);
}

@media only screen and (min-width: 970px) {
    .main-text{
        width: 50%;
    }
    .square{
        width: 48%;
        margin: 1%;
        height: 600px;
    }
}

@media only screen and (max-width: 1300px) {
    .hero-image {
      display: none;
    }
  }

  /* .square:hover .overlay{
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      background-color:rgba(2, 2, 2, 0.551);
  } */
 
  /* image cards */
  .img-wrapper {
    overflow: hidden;
  }
  
  img:hover {
    cursor: pointer;
    transform: scale(1.4, 1.4);
  }
  
  img:hover .overlay {
    height: 20%;
  }
  
  img {
    transition: all 3s ease-in-out;
    height: 50vh;
    width: 1000px;
    overflow: hidden;
  }
  
  .container {
    position: relative;
    width: 50vw;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    height: 45%;
    bottom: -13%;
    left: -5%;
    transform: rotate(10deg);
    width: 96%;
  }
  
  .container:hover .text {
    left: 8%;
    font-size: 20px;
    transition-delay: .3s;
  }
  
  .text {
    transform: rotate(-9deg);
    color: black;
    font-size: 10px;
    position: relative;
    overflow: hidden;
    top: 30%;
    left: 3%;
    transition: all 1s cubic-bezier(0.6,.1,.3,.8);
  }